@model IEnumerable<ETrade.Entity.Models.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1>E-Ticaret Sitesi Demo</h1>
<p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iure illo nostrum, voluptatem ipsam vitae sint laudantium pariatur dolorum mollitia quod quaerat provident nesciunt exercitationem unde ducimus itaque et ipsum aperiam cupiditate! Deserunt sint provident dignissimos laboriosam aperiam, beatae quam ad officiis iusto, vitae sit saepe repellat adipisci, eum incidunt!</p>
<div id="carouselExampleIndicators" class="carousel slide my-4">
    <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded-3">
        <div class="carousel-item active">
            <img src="/img/slider1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/slider2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/slider3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--1.yol Html Helper-->
@await Html.PartialAsync("_ProductList", Model)         

<!--2.yol Html Tagı-->
@*<partial name="_ProductList" for="@Model">*@

