
@{
    ViewData["Title"] = "List"; @*Controllerla view arasında veri taşır. *@
}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">All Categories</li>
            <li class="list-group-item">Phone</li>
            <li class="list-group-item">Notebook</li>
            <li class="list-group-item">Camera</li>
            <li class="list-group-item">Other</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card-group">
            <div class="card">
                <img src="img/kamera.jpeg" class="card-img-top" alt="kamera">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <a href="detail.html" class="btn btn-primary btn-sm float-end">Product Detail</a>
                </div>
            </div>
            <div class="card">
                <img src="img/laptop.jpeg" class="card-img-top" alt="laptop">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <a href="detail.html" class="btn btn-primary btn-sm float-end">Product Detail</a>
                </div>
            </div>
            <div class="card">
                <img src="img/telefon.jpeg" class="card-img-top px-2" alt="telefon">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <a href="detail.html" class="btn btn-primary btn-sm float-end">Product Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>

